 .container {
        width: 900px;
        margin: 10px auto;
        height: 200px;
      }

      .container header {
        background-color: #f75252;
        height: 200px;
        width: 900px;
        margin: 2px auto;
      }
      .logo img {
        width: 150px;
        height: 150px;
        float: center;
        margin: 2px;
        clear: both;
      }
      .logo h1 {
        float: center;
        margin-top: -65px;
        margin-left: 40%;
      }

      nav {
        float: left;
        background-color: black;
        margin: 5px 0 0 0;
        clear: both;
      }
      nav ul {
        list-style: none;
        margin: 2px auto;
        width: 900px;
        padding: 0;
      }
      nav ul li {
        float: right;
      }
      nav ul a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        height: 20px;
        display: block;
      }
      nav ul a:hover {
        /* untuk pewarnaan tulisan didalam tag a saat di klik */
        color: black;
        background-color: #f75252;
      }

      h3 {
        background-color: black;
        color: white;
        width: 90px;
        margin: 20px 2px;
        padding: 5px;
        text-align: center;
      }

      .Minions p {
        background-color: #f75252;
        margin: 20px 340px 10px 30px;
        padding: 15px;
      }

      .Minions video {
        margin-top: -130px;
        float: right;
      }

      .Tayang {
        padding-top: 30px;
        padding-bottom: 20px;
      }

      table,
      th,
      td {
        border: 1px solid;
        margin-left: 30px;
      }

      .Tayang table thead tr {
        background-color: #f75252;
      }

      form {
        background-color: #f75252;
        margin: 20px 200px 20px 30px;
        padding: 15px;
        border-radius: 20px;
      }

      .Daftar form input {
        padding: 8px 10px;
        margin-bottom: 15px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid black;
        color: black;
        font-size: 20px;
      }
      .Daftar form button {
        padding: 5px 0;
        border: none;
        background-color: #f75252;
        font-size: 18px;
        color: black;
        border-radius: 20px;
      }

      .footer {
        height: 30px;
        line-height: 30px;
        background: #f75252;
        color: black;
      }

      @media only screen and (max-width: 1366px) {
        .container {
          width: 100%;
        }

        .container header {
          width: 100%;
        }

        .logo img {
          width: 20%;
        }

        nav {
          width: 100%;
        }

        nav ul {
          width: 100%;
        }

        .Daftar form button {
          width: 100%;
        }

        .footer {
          width: 100%;
        }
      }
